{% extends'base.html.twig' %}

{% block title 'Esaip'  %}
{% block body %}

    <div class ="jumbotron text-center">
        <h1>Groupuscule ESAIP !!!!</h1>
        <p>xsniznfoeznngipznoifnzidnifnidznifnzpenifngeoirgfeznof
            erzoefnoznoifnzoenif</p>

    </div>

{% endblock %}